.note {
    position: relative;
}

.done {
    background-color: 
    #f5b932;
}

.icon {
    color: 
    #f5b932;
    cursor: pointer;
}

.note-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.note-header {
    justify-content: center;
}

.note-content {
    text-align: left;
    cursor: pointer;
}

.delete-button {
    position: absolute;
    right: 1px;
    top: 1px;
}